@media (max-width: 1183px) {

}
@media (min-width: 991px) {

}
@media (max-width: 990px) {
    .IamBlack{
        max-width: 530px !important;;
        height: 470px !important;;
        opacity: 1;
        margin: 0px;
        left: 100px;
    }
    .lead{
        font-size: 1rem !important;
    }
}

@media (max-width: 767px) {
    .IamBlack{
        max-width: 350px !important;
        height: 300px !important;
        opacity: 1;
        margin: 0px;
        left: 100px;
    }
    .social{
        font-size: 1rem !important;
    }
}

@media (max-width: 571px) {
    
}

@media (max-width: 481px) {

}

@media (max-width: 441px) {
 
}
@media (max-width: 321px) {

}

@media (max-width: 281px) {

}

@media (max-width: 241px) {

}
