.IamBlack{
    max-width: 550px;
    height: 600px;
    opacity: 1;
    margin: 0px;
    left: 100px;
}
.FullHeight{
    height: auto;
}
ul,li,a{
    display: inline;
    text-decoration: none;
}
h1{
    font-family: 'Anton', sans-serif !important;
}
h4{
    font-family: 'Roboto Condensed', sans-serif; 
}
caption{
    margin: 5px auto;
}
.TopLevelBar{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
}
.social{
   font-size: 1.4rem; 
}
.logo{
    width: 35px;
    height: auto;
}
.SvgBackground{
    background: url(../_img/blob.svg);
    background-repeat: no-repeat;
    background-position: 40vw -4vw;
    background-size: contain;
}
hr{
    width: 90%;
    border: 20px solid gray;
}
.SvgSmSBackground{
    background: url(../_img/bg.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.TechLanguage ul li{
    padding: 0.5rem;
    border-radius: 0.3rem;
    margin-right: 0.5rem;
}