.IamBlack{
    max-width: 450px;
    height: 500;
    opacity: 1;
    margin: 0px;
    left: 100px;
}
.FullHeight{
    max-height: 100vh !important;
}
ul,li,a{
    display: inline;
    text-decoration: none;
}
h1{
    font-family: 'Anton', sans-serif !important;
}
h4{
    font-family: 'Roboto Condensed', sans-serif; 
}
caption{
    margin: 5px auto;
}
.TopLevelBar{
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(255, 255, 255);
    z-index: 100;
}
.social{
   font-size: 1.4rem; 
}
.logo{
    width: 35px;
    height: auto;
}
.SvgBackground{
    background: url(../_img/blob.svg);
    background-repeat: no-repeat;
    background-position: 40vw -4vw;
    background-size: contain;
}
hr{
    width: 90%;
    border: 20px solid gray;
}
.SvgSmSBackground{
    background: url(../_img/wave.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}